[submodule "wp-content/themes/quercus"]
	path = wp-content/themes/quercus
	url = git@github.com:OaklandLocal/quercus.git
[submodule "wp-content/themes/owly"]
	path = wp-content/themes/owly
	url = https://allthecod.es/oaklandlocal/owly.git
[submodule "wp-content/plugins/geo-mashup-custom"]
	path = wp-content/plugins/geo-mashup-custom
	url = https://allthecod.es/oaklandlocal/geo-mashup-custom.git
